<div class="main-block">
    <h1>Список дел</h1>
    <button (click)="showAddForm()" class="main-block_button-create-task">Добавить дело</button>

    <div *ngIf="toggle" class="add-task"> 
        <label>Название</label>
        <br>
        <input type="text" name="taskTitle" [(ngModel)]="taskTitle" class="add-task__title" id='taskTitle'/>    
        <br>
        <label>Описание</label>
        <br>
        <textarea rows="5" cols="45" name="taskDescription" [(ngModel)]="taskDescription" class="add-task__description"></textarea>    
        <br>
        <button (click)="addTask(taskTitle, taskDescription)" class="main-block_button-add-task">Добавить</button>
    </div>
    <app-task 
        *ngFor="let iterTask of tasks; let idx = index"
        [task]="iterTask"
        [index]="idx"        
        (onDelete)="onDelete($event)"
        (onStateChanged)="onStateChanged($event)"
        (onTaskChanged)="onTaskChanged($event)">    
    </app-task>
</div>
